body {
    background-color: #DDCC55;
    color: #000;
    font-size: 16px;
    font-family: "Stoke", serif;
    
}

header { 
    display: block; 
    margin-bottom: 1px;
}


nav {
    display: block;
    width: 20%;
    float: left;
}

ul {
    line-height: 200%;
}

nav ul{
    color: #000;
    line-height: 230%;
    margin-top: 40px;
    list-style: square;
}

a {
    text-decoration: none;
    color: #222222;
}

section {
    display: block;
    width: 70%;
    float: right;
}

.apres {
    text-align: center;
    font-size: 16px;
}

.ender {
    float: right;
    text-align: right;
    line-height: 140%;
    font-size: 14px;
    font-family: "Stoke", serif;
}

.formul {
    width: 400px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin: 0px auto 0px auto;
    color: #202020;
    background-color: #EEEEBB;
    border: 3px solid #202020;
    font-size: 12px;
}

.fsPessoal {
    width: 340px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

.fsGenero {
    float: right;
    text-align: left;
    margin: 10px 10px;
}

.fsCartão {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}

/* Estilo dos boxes internos */
.linhaNome {
    height: 30px;
    width: 340px;
    padding-top: 8px;
}

.linhaDados {
    height: 130px;
    width: 340px;
}

.inpNome {
    width: 220px;
}

.inpTelef {
    width: 90px;
}

.numDD {
    width: 35px;
}


